apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - service.yaml
  - deployment.yaml
  - hpa.yaml
configMapGenerator:
  - name: podinfo-config
    literals:
      - MESSAGE=Hello from Argo CD GitOps!
generatorOptions:
  disableNameSuffixHash: true
commonAnnotations:
  argocd.argoproj.io/sync-wave: "10"
